*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-clr: rgb(255, 255, 255);
    --text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bg-clr: #030712;
    --hover-clr: rgba(121, 190, 232, 0.534);
    --text-size: 1em;
}

body{
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: var(--text-font);
    font-size: var(--text-size);
}

html, body{
    overflow-x: hidden;
}

.body{
    padding: 0px 100px;
}    

.content{
    margin: 0px 20px;
}    

a, .logout{
    text-decoration: none;
    color: var(--text-clr);
    padding: 15px 15px 0 15px;

    font-size: var(--text-size);
    font-family: var(--text-font);
    border: none;
    background-color: transparent;

    transition-property: padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}    

a.nav:hover, .logout:hover{
    background-color: var(--hover-clr);
    cursor: pointer;
    padding: 15px 15px 15px 15px;
}    

nav{
    border-color: rgb(255, 255, 255);
    height: 100px;
    justify-content: space-between;
    /* padding: 0 20px; */
    position: sticky;
    margin-bottom: 2em;
}        

.left, .right, .landing, .logo, .name, nav, .section{
    display: flex;
    align-items: center;
}        

.name{
    margin: 0;
}    

#youtube, #instagram{
    height: 1.75em;
    margin-right: 15px;
    transition: all 0.2s ease-out;
}   

#youtube:hover, #instagram:hover{
    transform: scale(1.25);
}

.landing{
    min-height: 400px;
    height: 50vh;
    justify-content: center;
}            

.logo{
    height: 50px;
    width: 50px;
    padding: 20px;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
}               

.text{
    display: flex;
    flex-direction: column;
}    

/* .section_name{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}         */



a.course{
    padding: 5%;
    background-color: gray;
    height: auto;
    aspect-ratio: 16/9;
    margin: 0px .5rem;
    text-align: center;
    transition: all 0.2s ease-out;
}        

a.course:hover{
    transform: scale(1.25);
}    


#prev-slider, #next-slider{
    height: 1em;
    width: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;

}    

#prev-slider:hover, #next-slider:hover{
    cursor: pointer;
}    

.section{
    min-height: 50vh;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}    

.section_content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about{
    height: 25vh;
}    

a.edit{
    font-size: .5em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 86, 255);
}

h1{
    margin-bottom: 1em;
}

.admin-link{
    font-family: Helvetica, sans-serif;
}

.admin-link:hover{
    background-color: #cea023;
}

.checkout-page{
    display: flex;
    height: 100vh;
    justify-content: center;
}

.course-img{
    height: 50%;
    width: 50%;
    background-color: gray;
    margin: 0 2em 2em 2em;
}

.course-title{
    font-size: 2em;
    font-weight: bolder;
}

.form-container, #slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.form{
    padding: 3em;
    min-height: 20em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    text-align: center;
}

.input-form{
    background-color: rgb(251, 251, 251);
    padding: 1em;
    border: none;
    border-radius: 2px;
    margin-bottom: 1em;
    width: 100%;
}

.input-container{
    display: flex;
}

.form-label{
    margin-right: 1em;
}

.submit-btn{
    padding: .5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #4a69bf00;
    font-family: var(--text-font);
    color: whitesmoke;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: var(--hover-clr);
}


@media only screen and (max-width: 769px){
    .body{
    padding: 0px 3em;
    }
}

@media only screen and (max-width: 426px){
    .landing{
        display: none;
    }
    .section_name{
        position: relative;
        display: block;
    }
    .section{
        flex-wrap: wrap;
    } 
    .form{
        padding: 1em;
    }
    /* make only 1 course visible then make it scrollable with js */
}