*{
    margin: 0;
    padding: 0;
}

:root{
    --text-clr: rgb(255, 255, 255);
    --text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bg-clr: #030712;
    --hover-clr: rgb(78, 109, 120);
    --text-size: 1em;
}

body{
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: var(--text-font);
    font-size: var(--text-size);
}

.body{
    padding: 0px 100px;
}

.content{
    margin: 0px 20px;
}

a{
    text-decoration: none;
    color: var(--text-clr);
    padding: 15px 15px 0 15px;
}

a.nav:hover{
    background-color: var(--hover-clr);
}

nav{
    padding: 15px;
    border-color: rgb(255, 255, 255);
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    margin-bottom: 5em;
}    

.left, .right, .landing, .logo, .name, nav, .section{
    display: flex;
    align-items: center;
}    

.name{
    margin: 0;
}

#youtube, #instagram{
    height: 1.75em;
    margin-right: 15px;

}

.landing{
    min-height: 400px;
    height: 50vh;
    justify-content: center;
}        

.logo{
    height: 50px;
    width: 50px;
    padding: 20px;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
}           

.text{
    display: flex;
    flex-direction: column;
}

.section_name, .photo{
    position: absolute;
    top: 0;
    left: 0;
}    

.section_name{
    display: flex;
    justify-content: center;
}

a.course{
    padding: 5%;
    background-color: gray;
    height: 4em;
    width: 8em;
    margin: 0px 4em;
    text-align: center;
}    

a.course:hover{
    background-color: rgb(79, 77, 77);
}

.section{
    height: 50vh;
    position: relative;
    justify-content: space-between;
    padding: 20px;
}

.about{
    height: 25vh;
}

.logout{
    background-color: transparent;
    border: none;
    color: var(--text-clr);
    font-family: var(--text-font);
    font-size: var(--text-size);
    padding: 15px 15px 0 15px;
}

.logout:hover{
    background-color: var(--hover-clr);
    cursor: pointer;
}

form{
    margin: 2em;
}

a.edit{
    font-size: .5em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 86, 255);
}

.course_container{
    display: flex;
}

h1{
    margin-bottom: 1em;
}

.admin-link{
    font-family: Helvetica, sans-serif;
}

.admin-link:hover{
    background-color: #cea023;
}