{% extends "layout.html" %}

{% block content %}

<div class="landing">
    <div class="text">
        <h1 class="title">Name</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, sed est dicta minus dolorum delectus nam error iure eum cupiditate ducimus,
            temporibus natus ipsam totam commodi nemo ipsum rem consequuntur!</p>
        </div>
    </div>
    
    <div class="section courses" id='courses'>
        <h1 class="section_name">Courses</h1>
        
        {% for course in courses %}
            <style>
                a.course{
                    background-image: url("{{ course.thumbnail.url }}");
                }
            </style>
        {% endfor %}     

        {% for course in courses %}
            <a href="" class="course">{{course.title}}</a>
        {% endfor %}
        
    </div>

    <div class="section testimonies" id='testimonies'>
        <h1 class="section_name">Testimonies</h1>
        <div class="card">
            <div class="photo"></div>
        </div>
        <div class="card">
            <div class="photo"></div>
        </div>
        <div class="card">
            <div class="photo"></div>
        </div>
    </div>

    <div class="section about" id='about'>
        <h1 class='section_name'>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro mollitia perferendis, 
            facere laudantium inventore eligendi consequuntur voluptatum itaque aliquid corrupti impedit, 
            perspiciatis esse praesentium eos dicta nemo commodi recusandae asperiores.</p>
    </div>

{% endblock content %}