{% extends "layout.html" %}

{% block content %}
<h1>Checkout page</h1>
<div class='checkout-page'>

    <div class='course-img' style='background-image: url("{{course.thumbnail.url}}");
            background-size: cover;
            background-position: center; '></div>

    <div class='course-info'>
        <p class='course-title'>{{course.title}}</p>
        <p class="course-price">Price: {{course.price}}$</p>
        
        {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit" class='submit-btn'>Buy Course</button>
            </form>
        {% else %}
            <a href="{% url "checkout:unregistered_checkout"  title=course.title %}">Buy Course</a>
        {% endif %}
    </div>

</div>
{% endblock content %}